* {
	margin: 0px;
	font-family: "Outfit";
}
html body {
	height: 100%;
}
.container {
	display: flex;
	height: 39em;
	background-color: hsl(212, 45%, 89%);
	align-items: center;
	justify-content: center;
}
.component {
	padding: 0.8rem;
	background-color: white;
	display: grid;
	grid-template-rows: 15rem 4rem 4rem 2rem;
	width: 15em;
	justify-content: space-between;
	border-radius: 1rem;
}
.component > div {
	margin-bottom: 1rem;
}
.image {
	background-image: url("images/image-qr-code.png");
	background-size: contain;
	background-position: center;
	border-radius: 0.8rem;
}
.caption {
	font-size: 1.3rem;
	font-weight: 700;
	text-align: center;
}
.smaller-caption {
	font-size: 0.9rem;
	font-weight: 400;
	color: darkgray;
	text-align: center;
}
.attribution {
	padding-top: 1rem;
	font-size: 0.5rem;
	text-align: center;
}
a {
	text-decoration: none;
	color: green;
}